@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.scrollbar-thin {
  @apply overflow-y-scroll; /* or overflow-x-scroll or overflow-scroll */
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 10px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  @apply bg-[#232528]; /* Track color */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  @apply bg-[#37393F] rounded; /* Thumb color and rounding */
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  @apply bg-[#37393F]; /* Thumb color on hover */
}